@use '../../../variables';
@use '../../../mixins';

.request-error {
    color: variables.$basic-text;
    font-size: 2.5rem;
    font-weight: 400;
}

.card {
    background-color: variables.$card-background;
    width: 100%;
    height: 428px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;

    .card-header {
        background-color: variables.$card-header-background;
        width: 100%;
        height: 119px;
        @include mixins.center-element;
        border-radius: 10px;


        .card-header-title {
            font-weight: 700;
            color: variables.$basic-text;
            font-size: 30px;
            padding: 1.5rem;
        }
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 36%;
    }

    .error {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            color: variables.$basic-text;
            font-size: 1.5rem;
            font-weight: 400;
        }

        button {
            width: 150px;
            height: 56px;
            font-size: 1.2rem;
            border: 0;
            font-weight: 600;
            color: variables.$basic-text;
        }
    }

    .card-price {
        width: 100%;
        @include mixins.center-element;
        color: variables.$text-green;
        font-size: 64px;
        font-weight: 500;

        .red {
            color: variables.$text-red
        }

        .blue {
            color: variables.$text-blue
        }

        .green {
            color: variables.$text-green
        }
    }
}