<div class="card">
    <header class="card-header">
        <h1 class="card-header-title">Dólar Canadense</h1>
    </header>
    <div class="card-price">
        <span>R$ 4,37</span>
    </div>
    <footer class="card-footer">
        <div class="card-footer-variation">
            <span>Variação (%)</span>
            <span class="card-footer-variation-value">-0.11</span>
        </div>
        <div class="card-footer-updated">
            <span>Atualizado </span>
            <span class="card-footer-timer">08:11:59</span>
        </div>
    </footer>
</div>