@use "../variables";
@use "../mixins";

.app {
    width: 100%;
    height: 100vh;

    .main {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px 0;
      padding: 0 1.5rem;

      .app-card {
        @include mixins.display-column;
        flex-wrap: wrap;
      }

      @media (min-width: 900px) {
        .app-card {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          flex-wrap: wrap;
        }  
      }
    }
  }
  

  