$app-background: #EEE; 
$app-header-background: #FFF; 
$card-header-background: #F6F6F6;
$card-background: #FFF;
$button-background: #F4F4F4;
$basic-text: #717171;
$text-secondary: #919191;
$text-green: #3C7649;
$text-blue: #3684CB; 
$text-red: #DD4B4B;